html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
$naranja: #FF9800;
$main-color : $naranja;


.wrapper {
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
}

.app-sidebar {
	background: #263238;
	width: 200px;
	-ms-flex: 0 100px;
	-webkit-box-flex:  0;
	-moz-box-flex:  0;
	-ms-box-flex:  0;
	box-flex:  0;  
	color: #fff;
	transition: width 500ms ease-in-out;
	will-change: width;
	@media(max-width: 767px){
 		position: absolute;
 		left: -200px;
 		right: 0;
 		top: 0;
 		bottom: 0;
 		width: 0;
 		transition: width 500ms ease-in-out;
 		z-index: 999;
 		&.closed{
 			left: 0;
 			width: 100%;
 		}
 	}
	.links{
		list-style: none;
		padding:0;
		li{
			width:100%;
			a{
				padding: 8px 15px;
				display: block;
				color: #fff;
				transition: all ease .5s;

				&.active{
					color: $main-color;
					background-color: #1d1d1d;
				}
			}
			a:hover{
				color: #ffffff;
				background-color: $main-color;
				transition: all ease .5s
			}
		}
	}

	.avatar{
		padding: 15px 0px;
		img{
			margin: auto;
		}
		.username{
			margin-top: 15px;
			text-align: center;
			padding: 10px;
			background-color: #555;
			color: #fff;
		}
	}
}


.app-main {
	padding: 15px;
	background: #ECEFF1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	overflow-y: scroll;
	h2{
		color: $main-color;
	}

	#loader{
		display: none;
		padding: 60px;
	}
	#selected-product{
		display:none;
	}
	
	.selected-product-container{
		padding:15px;
		display: none;
		min-height: 60px;
	}
	
	.app-statics{
		background-color: #263238;
	}

	.ui.secondary.menu {
		margin-left: 0px;
		.ui.button {
			line-height: inherit;
		}
	}
}



.navbar-collapsed{
	display:none;
	ransition: all ease .5s
}
.navbar-collapse{
	-ms-flex: 0 100px;
	-webkit-box-flex:  0;
	-moz-box-flex:  0;
	-ms-box-flex:  0;
	box-flex:  0;  
	ransition: all ease .5s
}

.show-on-load{
	display:none;
	width: 100%;
}
