/*
	App Main Theme
	Variables
*/

$app-background-color: #ECEFF1;
$sidebar-background-color: #263238;
$sidebar-link-color: #fff;
$sidebar-link-hover-background-color: #FF9800;
$sidebar-link-active-background-color: #FF9800;
$title-color: #FF9800;